<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<button class="btn btn-success" id='hidebtn'>dianwo</button>

<div id='test' class="alert alert-success">
    init text
</div>

<script src='../static/jquery.js'></script>
<script>
    //$('#test').html('<button class="btn btn-info">dianwo</button>')
	          //.hide(1000)
			 // .show(2000)
	$('#hidebtn').on('click',function(){
	     $('#test').hide(1000)})
   
</script>
</body>
</html>