{% extends 'layout.html' %}

{% block title %}
User
{% endblock %}

{% block sidebar %}
 <li class="active"><a href="#">用户</a></li>
 <li><a href="/url">日志</a></li>
 {% endblock %}


{% block body %}

<form id='addform' class="form-inline" >
  <div class="form-group">
    <label class="sr-only" for="username">username</label>
    <input type='text' name='user' class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">password</label>
    <input type='text' name='passwd' id='password' class="form-control" placeholder="password">
  </div>
  <button id='adduser' type='submit' class="btn btn-default">Add user</button>
</form>




<table class="table table-striped" style="margin-bottom:0;margin-top:15px">
<thead>
<tr>
<th>#</th>
<th>username</th>
<th>password</th>
<th>delete</th>
</tr>
</thead>
<tbody id='table-display'>

</tbody>




{% endblock %}


{% block js %}

<script>
//function getlist(){
//    $.get('/gettable',function(res){
//	    $('#table-display').html(res)
//		})
//}

function getlist(){
var res = ''
$.getJSON('/getuser',function(res){
    $.each(res,function(index,value){
	
	res +='<tr><td>'+value[0]+'</td>'
	res +='<td>'+value[1]+'</td>'
	res +='<td>'+value[2]+'</td>'
	res +='<td><button data-id="'+value[0]+'"class="btn btn-danger btn-xs delete-btn">delete</button></td></tr>'
	})
	$('#table-display').html(res)
})
}
getlist()
</script>

<script>
$('#adduser').on('click',function(){
    var url = '/adduser?'+$('#addform').serialize()
	if($('#username').val()=='' || $('#password').val()==''){
	    alert('username or password cannot be null')}
	else{
	$.get(url,function(res){
	    if(res=='ok'){
		    $('#addform')[0].reset()
			getlist()}
		else{
		    alert('error happened')}
	})}
	return false
})

</script>

<script>
$(document).on('click','.delete-btn',function(){
    var id = $(this).attr('data-id')
	if(confirm('confirm delete')){
	    $.get('/deluser?id='+id,function(res){
		    if(res=='ok'){
			    alert('delete success')
				
			}
		})
	}
	getlist()
})
</script>



{% endblock %}



