{% extends 'layout.html' %}

{% block title %}
Geomap
{% endblock %}

{% block sidebar %}
 <li><a href="/user">用户</a></li>
 <li><a href="/log">日志</a></li>
 <li><a href="/host">主机</a></li>
 <li class='active'><a href='#'>统计图</a></li>
 {% endblock %}
 {% block body%}
 <div id="main" style="width: 600px;height:400px;"></div>
 {% endblock %}
 {% block js%}
 <script>
 var data=[]
 var series = []
 var i = 0
 var chart = echarts.init($('#main')[0])
 var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';
 function change_value(value){if(value <500){return value/3} else if(value <2000){return value/10}else{return value/50}}
 var test = [[{name:'aa',coord:['117.4219','39.4189']},{name:'bb',coord:["118.18345060","39.65053092"]}]]
 var series_03 = [{name:'server',value:["118.18345060","39.65053092",change_value(300)]}]
 $.getJSON('/getgeo',function(res){
 
res.forEach(function(item,i){
	        //console.log(item)
	        data.push([{name:item[0],coord:[item[3],item[4]],value:item[2]},{name:'server',coord:['118.18345060','39.65053092']}])
			//console.log(data)
			}
			)
//	console.log(data)
option = {
        backgroundColor: '#404a59',
        title : {
            text: 'IP统计图',
            subtext: '作业12',
            left: 'center',
            textStyle : {
            color: '#fff'
            }
        },
        tooltip : {
        trigger: 'item'
        },
        geo: {
            map: 'china',
            label: {
                emphasis: {
                show: false
                }
            },
            roam: true,
            itemStyle: {
                normal: {
                    areaColor: '#323c48',
                    borderColor: '#404a59'
                },
            emphasis: {
                areaColor: '#2a333d'
            }
            }
        },
    series:[{
        name: 'aa',
        type: 'lines',
        zlevel: 1,
        effect: {
            show: true,
            period: 6,
            trailLength: 0.7,
            color: '#fff',
            symbolSize: 3
        },
        lineStyle: {
            normal: {
                color: '#a6c84c',
                width: 0,
                curveness: 0.2
            }
        },
		animation:false,
        //data: series
    },
	{
        name: 'aa',
        type: 'lines',
        zlevel: 2,
        effect: {
            show: true,
            period: 6,
            trailLength: 0,
            symbol: 'triangle',
            symbolSize: 10
        },
        lineStyle: {
            normal: {
                color: '#a6c84c',
                width: 1,
                opacity: 0.4,
                curveness: 0.2
            }
        },
		animation:false,
        //data: series
    },
		{
        name: 'aa',
        type: 'effectScatter',
        coordinateSystem: 'geo',
        zlevel: 2,
        rippleEffect: {
            brushType: 'stroke'
        },
        label: {
            normal: {
                show: true,
                position: 'right',
                formatter: '{b}'
            }
        },
        symbolSize: function (val) {
            return val[2] / 8;
        },
        itemStyle: {
            normal: {
                color:'#a6c84c'
            }
        },
		animation:false,
		data:series_03
        //data: series.map(function(item){
		 //   return {
		//	    name:'',
		//		value:[item[0]['coord'][0],item[0]['coord'][1]]}})
    }]   
};
setInterval(function () {
	if (i < 5){series.push(data[i]);
	    ;i++}
	else if(i <data.length-1){series.shift()
	    series.push(data[i]);i++}
	var series_03 = [{name:'server',value:["118.18345060","39.65053092",change_value(300)]}]
	for (var j=0;j<series.length;j++){
	    series_03.push({name:(series[j][0]['name']+'('+series[j][0]['value']+')'),value:[series[j][0]['coord'][0],series[j][0]['coord'][1],change_value(series[j][0]['value'])]})}
    chart.setOption({
        series:[{
        //name: 'aa',
        //type: 'lines',
        //zlevel: 1,
        //effect: {
        //    show: true,
        //    period: 6,
         //   trailLength: 0.7,
         //   color: '#fff',
        //    symbolSize: 3
        //},
        //lineStyle: {
        //    normal: {
        //        color: '#a6c84c',
        //        width: 0,
        //        curveness: 0.2
        //    }
        //},
        data: series
    },
	{
        //name: 'aa',
        //type: 'lines',
        //zlevel: 2,
        //effect: {
        //    show: true,
        //    period: 6,
        //    trailLength: 0,
         //   symbol: planePath,
         //   symbolSize: 15
        //},
        //lineStyle: {
        //    normal: {
        //        color: '#a6c84c',
         //       width: 1,
         //       opacity: 0.4,
         //       curveness: 0.2
         //   }
        //},
        data: series
    },
		{
        //name: 'aa',
        //type: 'effectScatter',
        //coordinateSystem: 'geo',
        //zlevel: 2,
        //rippleEffect: {
         //   brushType: 'stroke'
        //},
        //label: {
        //    normal: {
        //        show: true,
        //        position: 'right',
         //       formatter: '{b}'
        //    }
       // },
        //symbolSize: function (val) {
        //    return val[2] / 8;
       // },
        //itemStyle: {
        //    normal: {
        //        color:'#a6c84c'
        //    }
       // },
        //data: series.map(function(item){
		//    return {
		//	    name:item[0]['name'],
		//		value:[item[0]['coord'][0],item[0]['coord'][1],item[0]['value']/6]}})
    data:series_03

    }]  
    }
	)
	}, 2000);	
chart.setOption(option)
	})
 </script>
 {% endblock %}