<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/reboot.png">

    <title>作业08</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/zuoye08.css" rel="stylesheet">
	<style>
	body {background:#eee;}
	#div_result {width:300px;
	             height:20px;
	             color:red
				 }
	#result {color:red;}
	</style>


  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Sign in</h2>
        <div id="div_result">{{result}}</div>
        <input type="text" name="user" class="form-control" placeholder="User Name" required >
       
        <input type="password" name="passwd" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		
      </form>
	  

    </div> <!-- /container -->



  </body>
</html>